[submodule "archipelago-client/subprojects/minhook"]
	path = archipelago-client/subprojects/minhook
	url = https://github.com/TsudaKageyu/minhook.git

[submodule "archipelago-client/subprojects/wswrap"]
	path = archipelago-client/subprojects/wswrap
	url = https://github.com/black-sliver/wswrap.git

[submodule "archipelago-client/subprojects/apclientpp"]
	path = archipelago-client/subprojects/apclientpp
	url = https://github.com/black-sliver/apclientpp.git
[submodule "archipelago-client/subprojects/mem"]
	path = archipelago-client/subprojects/mem
	url = https://github.com/0x1F9F1/mem.git
[submodule "archipelago-client/subprojects/ModEngine2"]
	path = archipelago-client/subprojects/ModEngine2
	url = https://github.com/soulsmods/ModEngine2
[submodule "archipelago-client/subprojects/MINT"]
	path = archipelago-client/subprojects/MINT
	url = https://github.com/Chuyu-Team/MINT.git

# This has to be a submodule and not a vcpkg dependency because we only want its headers. If we link
# the library statically, it will conflict with ModEngine2's own linking and cause the mod not to
# load.
[submodule "archipelago-client/subprojects/spdlog"]
	path = archipelago-client/subprojects/spdlog
	url = https://github.com/gabime/spdlog
